[Desktop Entry]
Version=1.0
Name=Ratatoskr Core
Comment=Ratatoskr P2P Cryptocurrency
Comment[de]=Verbinde mit dem Ratatoskr peer-to-peer Netzwerk
Comment[fr]=Ratatoskr, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ratatoskr, eşten eşe kriptografik sanal para birimi
Exec=ratatoskr-qt %u
Terminal=false
Type=Application
Icon=ratatoskr128
MimeType=x-scheme-handler/ratatoskr;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=Ratatoskr-qt
